root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = tab
indent_size = tab
insert_final_newline = true
trim_trailing_whitespace = false
max_line_length = off

[*.java]
ij_java_imports_layout = $*,|,java.**,|,javax.**,|,org.**,|,com.**,|,@*,*
ij_java_names_count_to_use_import_on_demand = 99
ij_java_class_count_to_use_import_on_demand = 99

[{*.info,*.json,*.mcmeta,*.md,*.cfg,*.yml,*.toml}]
tab_width = 2

[{*.info,*.mcmeta,*.cfg}]
end_of_line = lf
