# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run

# CurseForge configuration
/curseforge.properties

# Changelog backup
/changelog.bak
CREDITS-fml.txt
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
