# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run

asm/

config/

crash-reports/

logs/

saves/

options.txt

usernamecache.json
