# It's access transformer time, baby!
# Cracks open stupid as shit keywords that are being used wrong because Mojang shouldn't be entrusted with computers.
# After changing anything here, run `./gradlew clean setupDecompWorkspace`, this should scrap all the cached nonsense and patch the src to reflect changes made.

# EntityLivingBase
public net.minecraft.entity.EntityLivingBase *                              # everything because fuck i'm not doing 500 of these by hand
# public net.minecraft.entity.EntityLivingBase *()                            # ditto

# EntityPlayer
public net.minecraft.entity.player.EntityPlayer field_71072_f               # itemInUseCount

# EntityCreeper
public net.minecraft.entity.monster.EntityCreeper field_82225_f             # fuseTime
public net.minecraft.entity.monster.EntityCreeper func_146077_cc()V         # explode

# RenderCreeper
public net.minecraft.client.renderer.entity.RenderCreeper field_77064_a     # creeperModel

# KeyBinding
public net.minecraft.client.settings.KeyBinding field_74516_a               # keybindArray
public net.minecraft.client.settings.KeyBinding field_74514_b               # hash
public net.minecraft.client.settings.KeyBinding field_151473_c              # keybindSet
public net.minecraft.client.settings.KeyBinding field_74513_e               # pressed
public net.minecraft.client.settings.KeyBinding field_151474_i              # pressTime

# GuiMainMenu
public net.minecraft.client.gui.GuiMainMenu field_73975_c                   # splashText

# EntityLivingBase
public net.minecraft.entity.EntityLivingBase field_82180_bT                 # previousEquipment

# ChunkProviderFlat
public net.minecraft.world.gen.ChunkProviderFlat field_82702_h              # hasDungeons

# ChunkProviderServer
public net.minecraft.world.gen.ChunkProviderServer field_73248_b            # chunksToUnload

# ItemRenderer
public net.minecraft.client.renderer.ItemRenderer field_78453_b             # itemToRender